<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>ランキング</title>
</head>
<body>
<br><br>
<h1><span>ランキング</span></h1><br>
<div class="wrap">
    <p class="prf_icon">
        <img th:src="@{/images/img.png}" alt="アイコン" src="../../static/images/img.png" />
    </p>
<h2>　</h2>
<h2 class="tate" th:text="${user.name}"></h2><h2>　</h2>
<h2 class="tate" th:text="${user.point}"></h2><h2>pt</h2>
    </div>
<div class="center">
<table>
    <h2>ランキング表</h2><br>
    <tr>
        <th>順位</th>
        <th>　　　　　ユーザー名</th>
        <th>　　　　　ポイント</th>
    </tr>
    <tr th:each="ranking : ${rankingList}">
        <td th:text="${rankingStat.count}"></td>
        <td th:text="${ranking.name}"></td>
        <td th:text="${ranking.point}"></td>
    </tr>
</table>
</div>
<footer class="footer">
    <nav class="global-nav">
        <ul class="bottom-menu">
            <li class=”nav-item”><a th:href="@{/}"><i class="fa-solid fa-magnifying-glass" style="color:black;"></i></a></li>
            <li class="nav-item"><a th:href="@{/post}"><i class="fa-regular fa-pen-to-square" style="color:black;"></i></a></li>
            <li class="nav-item"><a th:href="@{/user/ranking}"><i class="fa-solid fa-ranking-star" style="color:black;"></i></a></li>
            <li class="nav-item"><a th:href="@{/user/profile}"><i class="fa-solid fa-user" style="color:black;"></i></a></li>
        </ul>
    </nav>
</footer>
</body>
</html>