<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
  <title>ユーザー登録</title>
</head>
<body>
<h1 class="mt-3"><span>新規登録</span></h1>
<form action="#" th:action="@{/signup}" method="post" th:object="${userForm}">

  <div class="mt-3">
    <label for="usernameInput" class="form-label">お名前</label>
    <input type="text" id="usernameInput" class="form-control" th:field="*{name}"
           th:classappend="${#fields.hasErrors('name')} ? is-invalid">
    <p class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">(errors)</p>
  </div>

  <div class="mt-3">
    <label for="pwInput" class="form-label" th:field="*{pw}">パスワード</label>
    <input type="password" id="pwInput" class="form-control" th:field="*{pw}"
           th:classappend="${#fields.hasErrors('pw')} ? is-invalid">
    <p class="invalid-feedback" th:if="${#fields.hasErrors('pw')}" th:errors="*{pw}">(errors)</p>
  </div>

  <div class="mt-3">
    <label for="mail" class="form-label">メールアドレス(ID)</label>
    <input type="email" id="mail" class="form-control" th:field="*{mx}"
           th:classappend="${#fields.hasErrors('mx')} ? is-invalid">
    <p class="invalid-feedback" th:if="${#fields.hasErrors('mx')}" th:errors="*{mx}">(errors)</p>
  </div>

<!--  <div class="mt-3">-->
<!--    <label for="age" class="form-label">年齢</label>-->
<!--    <input type="number" step="5" id="age" class="form-control" th:field="*{age}"-->
<!--           th:classappend="${#fields.hasErrors('age')} ? is-invalid">-->
<!--    <p class="invalid-feedback" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">(errors)</p>-->
<!--  </div>-->

  <div class="mt-3">
    <button type="submit" class="btn btn-primary">作成</button>
    <a href="/login" th:href="@{/login}" class="btn btn-outline-secondary">戻る</a>
  </div>

</form>
</body>
</html>